<ion-header>
  <ion-toolbar>
    <ion-title>Pergunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = " let p of pergunta">
    <ion-card-header >
      <ion-card-subtitle>{{ p?.pergunta }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor = "let alternativa of p.alternativa">
      <input type="radio" name="{{p._id}}" value="{{alternativa.correto}}">
      <span>{{alternativa.descricao}}</span>
    </ion-card-content>
  </ion-card>

</ion-content>
