<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Economic Education
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Economic Education</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Está preparado para começar?</strong>
    <p>Vamos iniciar nosso Quiz?</p>
    <a class="btn btn-primary" (click)="criarModal()">Começar</a>
  </div>
</ion-content>
